@import "tailwindcss";

@theme {
    --color-pink: #FEBFDA;
    --color-yellow: #E9FC88;
    --color-green: #94EA95;
    --color-purple: #A593C3;
    --color-purple-500: #84769C;
    --color-off-white: #FFFAF4;
}

body{
    font-family: 'Lexend', sans-serif;
}

.image-fit{
    @apply h-full w-full object-contain;
}